html {
  font-size: 16px
    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
}

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(50, 50, 50);
  color: white;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
}

a {
  color: white;
}

p {
  font-size: 1.25vw;
  text-align: justify;
  hyphens: auto;
  color: white;
  max-width: 100vw;
  height: auto;
  margin: auto 20% auto;
}

.navbar {
  overflow: hidden;
  background-color: black;
  box-shadow: 10px 10px 2px rgba(50, 50, 50, 1);
}

.navbar a {
  float: left;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 30px 16px;
  text-decoration: none;
  cursor: linked;
}

.title {
  display: inherit;
  text-align: center;
  margin-top: 5%;
}

.articlelist {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2vw;

}

.media {
  max-width: 50vw;
  margin: auto;
  display: grid;
}


.article {
  background-color: rgba(100, 100, 100, 0.5);
  margin: auto 10% auto;
  box-shadow: 300px 300px 2px rgba(50, 50, 50, 1)
}

.article p {
  padding: 1%;
}
